.container{
  text-align: center;
  padding: 20px 0px;

}

.container > h1{
  margin: 30px;
  font-size: 4.2em;
}

.container > p{
  font-size: 1.65em;
}

.title__input{
  display: flex;
  justify-content: space-between;
  padding: 3px;
  margin: 40px auto;
  border: solid black 1px;
  width: 37%;
  border-radius: 7px;

}

input{
  border: none;
  width: 100%;
}

button{
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 5px;
}
