<div class="container__small-card">
  <div class="small-card__photo">
    <img
    src="https://img.freepik.com/fotos-premium/duas-mulheres-conversando-e-andando-juntas-na-rua-da-cidade-com-malas_650366-3094.jpg?w=2000"
    alt=""
    width="450px"
    >
  </div>
  <div class="small-card__text">
    <span>Olivia Rhye 20 Jan 2024</span>
    <h2>Conversations whit Londom Makr & Co.</h2>
    <p>We sat down with London's fast growing brand and product design studio,
      Mark & Co to find out how they've used Intitled UI to 2x their  revenue.
    </p>


  </div>
</div>
