.container__small-card{
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-bottom: 25px;
  width: 100%;
}

.small-card__photo > img{
  max-width: 350px;
}
.small-card__text > span{
  color: gray;
}

.small-card__text > h2{
  margin: 10px 0;
  font-size: 20px;
}

.small-card__text > p{
  font-size: 16px;
}



