.app-big-card{
  display: block;
}
p{
  font-weight: bold;
  font-size: 30px;
  margin-left: 70px;
}
.articles__main{
  width: 50%;
}
.container__articles{
  margin: 30px 70px;
  display: flex;
  column-gap: 30px;

}

.articles__others{
  width: 50%;
}
