.container__menu-bar{
  display: flex;
  margin: 20px 60px;
  align-items: center;
  font-weight: bold;
}


.menu-bar__navigation{
  display: flex;

}
.menu-bar__list{
  display: flex;
  gap: 90px;
  margin-right: 90px;
  align-items: center;
}

.menu-bar__title{
  margin-right: 20%;
}

a{
  text-decoration: none;
  color: black;
}

.menu-bar__list > li{
  list-style: none;
}

.menu-bar__started{
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 15px;

}

