<div class="container__menu-bar">
  <div class="menu-bar__title">
    <h1>Untitled Ui</h1>
  </div>
  <nav class="menu-bar__navigation">
      <ul class="menu-bar__list">
        <li><a href="#">Home</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">Solutions</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Resources</a></li>
        <li><a href="#">Company</a></li>
        <li><a href="#">Carrers</a></li>
      </ul>
      <p class="menu-bar__started">Get started</p>

    </nav>
</div>
